<div class="col-9 col-lg-10 p-0  px-5 "
    style="background-color: rgb(248, 244, 238)">
    <h1 class="mx-auto mt-5 " style=" color: brown; width: fit-content; border-bottom: 3px solid;">OVERVIEW</h1>
    <div  class="d-flex flex-wrap-reverse justify-content-center">
        <a href="/admin/user/listusers" class="card ">
            <div class="card-body d-flex  ">
                <img src="/img/logo/users.png" class=" col-sm-7 col-xs-12" alt="">
                <div class="card-text col-sm-5 col-xs-12 my-auto">
                    <h5 class="text-center">Customer</h5>
                    <h2 class="text-danger text-center"><%= totalUser%></h2>
                </div>
            </div>
        </a>
        <a href="/admin/products/listproducts" class="card">
            <div class="card-body d-flex ">
                <img src="/img/logo/products.png" class=" col-sm-7 col-xs-12" style="width: 250px;" alt="">
                <div class="card-text col-sm-5 col-xs-12 my-auto">
                    <h5 class="text-center">Products</h5>
                    <h2 class="text-danger text-center"><%= totalProduct%></h2>
                </div>
            </div>
        </a>
        <a href="/admin/order/listorders"  class="card">
            <div class="card-body d-flex">
                <img src="/img/logo/order.png" class="w-100 col-sm-7 col-xs-12" alt="">
                <div class="card-text col-sm-5 col-xs-12 my-auto">
                    <h5 class="text-center">Orders</h5>
                    <h2 class="text-danger text-center"><%=ordernew%></h2>
                    <span class="font-weight-bold"> Cần duyệt</span>
                </div>
            </div>
        </a>
    </div>
</div>
