<div class="container-fluid header ">
  <div class="text-center d-flex flex-column ">
    <div style="margin-top: 5px; float: right;" class="justify-content-end d-flex mr-3">
      <a class="text-white nav-link p-1" href="#"> Đăng kí /</a>
      <a class="text-white nav-link p-1" href="#"> Đăng nhập</a>
    </div>
    <img class="text-center logo" src="/img/logo/logo.png" alt="" style="height: 15%; width: 16%;">
    <p class="text-white font-italic " style="margin-top: auto;">Chào mừng bạn đến với Cà Hê Trạm. </p>
  </div>
    <div class="row navbars">
      <nav class="navbar navbar-expand-lg navHomepage col-md-8 offset-md-2">
        <div class="ml-5 mr-4">
          <a class="nav-link mt-2 " href="#">TRANG CHỦ </a>
          <button class="navbar-toggler py-1 px-2" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars text-white "></i>
          </button>
        </div>
        <div class="collapse navbar-collapse mt-2 d-flex justify-content-between " id="navbarTogglerDemo02">
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item ">
              <a class="nav-link mx-5 " href="#">GIỚI THIỆU </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-5 " href="#">SẢN PHẨM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-5  " href="#">DỊCH VỤ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-5 " href="#">LIÊN HỆ</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="mt-3 col-md-2 d-flex">
        <i class="fa-solid fa-bag-shopping  cart " style="font-size: 20px;"></i>
        <span class="text-white px-2  ">|</span>
        <div class="d-flex">
          <i class="fa-solid fa-magnifying-glass text-white d-inline mr-1 iconSearch" style="font-size: 20px;"></i>
          <!-- <input type="search" id="search" class="form-control-dropdown search mb-3 p-1 " placeholder="  Tìm kiếm sản phẩm"/> -->
        </div>
      </div>
    </div>


</div>
