<div class="col-3 col-lg-2 p-0 " style="min-height: 100vh;">
    <div class="admin p-3 bg-warning text-center d-flex " style="font-weight: 700; justify-content: space-evenly;">
        <h3 style="color: black;"> ADMIN</h3>
    </div>
    <div style=" background-color: rgb(48, 29, 0); height: 90%;  ">
        <div class="p-3 btn-list" id="listUser" >
            <i class="fa-solid fa-users text-white pr-1" style="font-size: 16px;"></i>
            <a class=" w-100 text-white p-2" id="btn-listUser" style="text-decoration: none; " href="/admin/user/listusers">Danh Sách
                Khách Hàng</a>
        </div>
        <div class="p-3 btn-list" id="btn-listProduct">
            <i class="fa-solid fa-mug-saucer text-white pr-1 " style="font-size: 16px;"></i>
            <a class="w-100 text-white p-2" id="listProduct" style="text-decoration: none;" href="/admin/products/listproducts">Danh Sách
                Sản Phẩm</a>
        </div>
        <div class="p-3 btn-list" id="btn-listProduct">
            <i class="fa-solid fa-mug-saucer text-white pr-1 " style="font-size: 16px;"></i>
            <a class="w-100 text-white p-2" id="listProduct" style="text-decoration: none;" href="/admin/order/listorders">Danh Sách
                Hoá Đơn</a>
        </div>
    </div>
</div>

